# Core API
CORE_DB_HOST=localhost
CORE_DB_PORT=5434
CORE_DB_NAME=core
CORE_DB_USER=user
CORE_DB_PASSWORD=password

# Product API
PRODUCT_DB_HOST=localhost
PRODUCT_DB_PORT=5435
PRODUCT_DB_NAME=product
PRODUCT_DB_USER=user
PRODUCT_DB_PASSWORD=password

# Shared
JWT_SECRET=platform-secret-2025
REDIS_URL=redis://localhost:6380
