# Integration Test Environment
CORE_BASE_URL=http://localhost:3003
PRODUCT_BASE_URL=http://localhost:3001
REDIS_URL=redis://localhost:6380

# DB (if running tests outside docker but against docker DBs)
DB_HOST=localhost
DB_PORT=5434
DB_USER=user
DB_PASSWORD=password
DB_NAME=core
